# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortamlar (Virtual Environments)
.venv/
venv/
env/
ENV/

# Çevresel Değişkenler (Hassas Bilgiler)
.env
.env.local

# Veritabanı ve Yerel Dosyalar
# mlflow.db
# mlruns/

# IDE ve Editör Ayarları
.vscode/
.idea/
*.swp
.DS_Store

